<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>{% block style %}{% endblock style %}</style>
    </head>

  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('ext_participant_home') }}">Home</a>

                <li class="nav-item">
                    <a target=”_blank” class="nav-link" href="https://forms.gle/yDXga3uQAZUiq5859">Contact Us</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
                  </li>

            </ul>
            <li class="nav-item">

              <p style="color: white">Logged in as {{current_user}}</p>
            </li>


          </div>
        </div>
      </nav>
    {% block  body %}{% endblock body %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>